main{
    width: 100%;
    height: auto;
    padding-top: 80px;
    /*-------- first-section ---------*/
    .first-section-main{
        margin-bottom: 80px;
            .first-section-img{
                display: flex;
                justify-content: center;
                margin-bottom: 16px;
                .back-img{
                    position: relative;
                    width: 200px;
                    height: 210px;
                }
                .front-img{
                    width: 200px;
                    position: absolute;
                    top: 8vh;
                    border-radius: 20em;
                    box-shadow: 1px 1px 50px var(--primary-color);
                }
            }
            .first-section-title{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                height: auto;
                color: var(--white);
                h2{
                    font-size: 2.2rem;
                    font-weight: 400;
                    line-height: 20px;
                    margin-bottom: 22px;
                    text-shadow: 1px 1px var(--secondary-color);
                    span{
                      color: var(--secondary-color);  
                      text-shadow: none;
                    }
                }
                h1{
                    font-size: 2.8rem;
                    font-weight: 700;
                    line-height: 20px;
                    margin-bottom: 22px;
                    color: var(--secondary-color);
                }
                h3{
                    text-align: center;
                    font-size: 2rem;
                    font-weight: 400;
                    line-height: 2rem;
                    text-shadow: 1px 1px var(--secondary-color);
                    margin-bottom: 22px;
                }
                ul{
                    display: flex;
                    list-style: none;
                    justify-content: center;
                    cursor: pointer;
                    li{
                        margin: 0 12px;
                    }
                    img{
                        width: 35px;
                        height: 35px;
                        border-radius: 7px;
                        box-shadow: 0 0 16px var(--secondary-color);
                    }
                }
               
            }
    }

    /*-------- second-section ---------*/
    .second-section-container{
        width: 100%;
        height: auto;
        max-width: 550px;
        margin: 0 auto;
        .second-section-title{
            @include sub-titles;
        }
        .second-section-cards{
            display: flex;
            margin: 0 auto;
            width: 100%;
            height: 160px;
            gap: 25px;
            overflow-x: scroll;
            overscroll-behavior-x: contain;
            scroll-snap-type: x proximity;
            .second-section-cards-container{
                scroll-snap-align: center;
                padding: 15px;
                border-radius: 12px;
                background-color: transparent;
                cursor: pointer;
                text-align: center;
                color: var(--white);
                border: 1px solid var(--secondary-color);
                box-shadow: 8px 0 var(--secondary-color);
                img{
                    width: 90px;
                    height: 90px;
                    margin-bottom: 12px;
                    background-color: transparent;
                }
            }
        }
        .second-section-cards::-webkit-scrollbar,
        .second-section-cards::-webkit-scrollbar-thumb{
            display: none;
        }
    }

    /*-------- third-section ---------*/
    .third-section-container{
        width: 100%;
        height: auto;
        max-width: 520px;
        margin: 0 auto 80px auto;
        .third-section-title{
            width: 30px;
            height: 30px;
            margin: 16px auto;
            background-image: url('../assets/arrow-down.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .third-section-adicionals{
            width: 100%;
            height: auto;
            display: grid;
            gap: 12px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            .adicional-one{
                @include adicionals-section;
            }
            .adicional-two{
                @include adicionals-section;
            }
            .adicional-three{
                @include adicionals-section;
                img{
                    height: 50px;
                }
            }
            .adicional-four{
                @include adicionals-section;
                img{
                    width: 65px;
                    height: 50px;  
                }
            }
            .adicional-five{
                @include adicionals-section;
                img{
                    width: 65px;
                    height: 70px;  
                }
            }
            .adicional-six{
                position: relative;
                @include adicionals-section;
                img{
                    width: 75px;
                    height: 70px;  
                }
            }
        }
    }

    /*-------- four-section ---------*/
    .four-section-container{
        width: 100%;
        height: auto;
        max-width: 600px;
        margin: 24px auto;
        .four-section-title{
            @include sub-titles;
        }
        .four-section-certificates{
            width: 100%;
            height: 100%;
            overflow-x: scroll;
            overscroll-behavior-x: contain;
            scroll-snap-type: x proximity;
            display: flex;
            gap: 10px;
            border-radius: 1em;
            box-shadow: 0 0 12px var(--secondary-color);
            .certificate-one, .certificate-two, .certificate-three, .certificate-four,
            .certificate-five, .certificate-six, .certificate-seven, .certificate-eight,
            .certificate-nine, .certificate-then, .certificate-eleven,
            .certificate-twelve{
                scroll-snap-align: center;
                @include certificates-section;
            }
        }
        .four-section-certificates::-webkit-scrollbar,
        .four-section-certificates::-webkit-scrollbar-thumb{
            display: none;
        }
    }

/*------------------- Section-Projects ----------------*/
}